name = "PG2-Dataset"
description = "This is an example dataset"
version = "1.0"
creator = "First and Last Name"
metadata = {
    "key": "value"
}

[ xref ]
xref = "id"
description = "CrossRef Details"
xref_type = "IFF"

[[ sequence ]]
description = "Something"
sequence_type = "WILDTYPE"
seuquence_alphabet = "DNA"
metadata = {
    "key": "value"
}

[ sequence.dirs.local ]

paths = [
    "./sequences/*"
]

[sequence.xref.uniprot]
description = "UniProt cross references"
xrefs = ["id1", "id2"]

